.shop_header_container {
  height: 50px;
}
.shop_header {
  display: flex;
  /* color: #ffffff; */
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* background: linear-gradient(
    to bottom left,
    #214968,
    #275a81,
    #275a81,
    #214968
  ); */
  /* background-color: rgb(71 85 105 / var(--tw-bg-opacity)); */

  /* border-bottom: 1px solid #333; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.shop_header_icons {
  font-size: 20px;
  margin: 0 15px;
  /* color: #fff; */
}
.shop_nav_1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo {
  margin-left: 30px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  /* filter: invert(100%); */
}

.shop_nav_1 ul {
  display: flex;
}

.shop_nav_1 ul li {
  display: flex;
  margin: 20px;
  cursor: pointer;
  color: #fff;
}

.shop_header.shop_active {
  background-color: rgba(132, 132, 132, 0shop_6);
}

.shop_nav_1 ul li:hover {
  color: #fff;
}

.shop_nav_2 span {
  cursor: pointer;
}
