* {
  margin: 0;
  padding: 0;
}
.create-body {
  background-color: #f1f1f1;
  min-height: 100vh;
}
.box-container {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 50px auto 30px;
  border: 1px solid #00808090;
  border-radius: 5px;
}
.box-container input {
  width: 90%;
  margin: auto;
}
